ion-content::part(native) {
  top: 0;
  padding-inline-start: 0;
  padding: 0;
  padding-bottom: 0;
}
ion-content::part(scroll) {
  top: 0;
  padding-inline-start: 0;
  padding: 0;
  padding-bottom: 0;
}
.login-img img {
  max-width: 60rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}
