ion-content::part(native) {
    top: 0;
    padding-inline-start: 0 !important;
    padding: 0;
    padding-bottom: 0;
}

ion-content::part(scroll) {
    top: 0;
    padding-inline-start: 0 !important;
    padding: 0;
    padding-bottom: 0;
}

#img-login-screen {
    max-width: 90rem;
    height: 71.5rem;
    object-fit: cover;
    object-position: top right;
}

.logo-login-screen {
    margin-top: 30%;
    margin-bottom: 5rem;
    margin-left: 10%;
}

.rights {
    text-align: center;
    margin-top: 40%;
    margin-bottom: 0 !important;
}
