ion-content::part(scroll) {
    top: 0;
    padding-inline-start: 0;
    padding: 0;
    padding-bottom: 0;
}

.logo-tile-top {
    position: absolute;
    opacity: 5%;
    width: 50%;
    left: 50%;
    top: 1.6rem;
    border-bottom-right-radius: 10px;
}

.logo-tile-middle {
    position: absolute;
    opacity: 5%;
    width: 50%;
    left: 50%;
    top: 0.2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.logo-tile-bottom {
    position: absolute;
    opacity: 5%;
    width: 50%;
    left: 50%;
    bottom: 1.6rem;
    border-bottom-right-radius: 10px;
}

.nav-tiles__tab:not(:last-child) {
    margin-bottom: 1.2rem;
}

.nav-tiles__tab {
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 18rem;
    border: 2px solid var(--ion-color-primary-contrast);
    border-radius: 12px;
    box-shadow: 0px 5px 5px 0px rgba(229, 3, 176, 0.1);

    display: inline-block;
    overflow: hidden;
}

.nav-tiles__tab:first-child {
    background: linear-gradient(
        153deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 161, 233, 0.3) 35%,
        rgba(255, 161, 233, 0.3) 100% /* rgba(255, 255, 255, 1) 100% */
    );
}

.nav-tiles__tab:nth-child(2) {
    background: linear-gradient(153deg, rgba(255, 161, 233, 0.3) 0%, rgba(255, 161, 233, 0.3) 100%);
}

.nav-tiles__tab:last-child {
    background: linear-gradient(
        153deg,
        rgba(255, 161, 233, 0.3) 35%,
        rgba(255, 161, 233, 0.3) 70%,
        rgba(255, 255, 255, 1) 100%
    );
}

.button-tab .icons {
    width: 6.4rem;
}

.button-tab {
    width: 9.6rem;
    padding: 1.6rem;
}

ion-text h3 {
    font-family: Poppins, sans-serif;
    font-size: 46px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.25px;
    text-align: left;
    height: 80px;
    padding-top: 16px;
    padding-left: 16px;
}
ion-text h4 {
    font-family: Poppins, sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.25px;
    text-align: left;
    padding-left: 1rem;
}
