ion-modal {
    --width: 60%;
    --height: initial;
}

.calibration-modal {
    margin: 4rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calibration-modal p {
    margin-top: 3rem;
    font-size: large;
}
