.sensor-sidebar-manager {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sensor-sidebar-manager-instructions__title {
    text-align: center;
}

.sensor-sidebar-manager__instructions p {
    margin: 0;
}

.sensor-sidebar-manager__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sensor-sidebar-manager__actions ion-text {
    display: flex;
    justify-content: center;
}
.sensor-sidebar-manager__actions ion-button {
    margin: 0.5rem;
}

.sensor-sidebar-manager__actions-buttons {
    display: flex;
    margin-top: 1rem !important;
    gap: 1rem;
}

.sensor-sidebar-manager__video-modal {
    --width: 80%;
    --height: 90%;
}
.sensor-sidebar-manager__video {
    width: 100%;
    height: 90%;
}

.sensor-sidebar-manager__video video {
    margin: 1.5rem;
    width: 97%;
    height: 95%;
    object-fit: cover;
}

.sensor-sidebar-manager__close-button {
    margin: 0 2rem 4rem 2rem;
    width: 50rem;
    margin-left: 25%;
}

.sensor-sidebar-manager__videos-container {
    background-color: var(--ion-color-tertiary-tint);
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.sensor-sidebar-manager__videos-container p {
    font-size: 14px;
}

.sensor-sidebar-manager__actions-buttons ion-title {
    text-align: center;
}

.sensor-sidebar-manager__accordion-group {
    width: 100%;
}

.sensor-sidebar-manager__accordion-header {
    width: 100%;
    border-bottom: 1px solid var(--ion-color-primary);
}
