.autocomplete-typehead__searchbar .searchbar-input {
    box-shadow: unset;
}

.autocomplete-typehead__footer .button {
    --color: var(--ion-color-primary);
}

.autocomplete-typehead__searchbar{
    font-size: 1.5rem;
}
.autocomplete-typehead__list-item{
    font-size: 1.5rem;
}