.reports-widget__header {
    padding-inline-end: 16px;
}
.reports-widget__main {
    padding: 12px;
}

.reports-widget__placeholder {
    width: 100%;
    padding: 16px 0;

    font-size: 1.6rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.reports-widget__calendar{
    display: flex;
    gap: 2rem;
    align-items: center;
}