.sensor-analyse-instructions-modal {
    padding: 32px;
}

.sensor-analyse-instructions-modal__header {
    margin-bottom: 20px;
}

.sensor-analyse-instructions-modal__header h2,
.sensor-analyse-instructions-modal__header h3 {
    margin: 0;
}

.sensor-analyse-instructions-modal__header h2 {
    font-size: 2rem;
}

.sensor-analyse-instructions-modal__header h3 {
    margin-top: 6px;
    font-size: 1.6rem;
}

.sensor-analyse-instructions-modal__main ol {
    margin: 0;
    padding-left: 24px;
}

.sensor-analyse-instructions-modal__main ol li {
    font-size: 1.4rem;
    line-height: 20px;
}

.sensor-analyse-instructions-modal__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.sensor-analyse-instructions-modal__actions ion-checkbox {
    font-size: 1.6rem;
}
