.sidebar-menu {
    height: 98vh;
    margin-top: 0 !important;
    width: 100%;
    background-color: white;
    border-right: 2px solid #e0e0e080;
}

.tabs {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.7rem;
}

#menu-logo {
    padding-top: 2rem;
    background-color: white;
    padding-right: 1rem;
}

.sidebar-menu__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 100%;
}

.sidebar-menu__list > *:not(:last-child) {
    margin-bottom: 4px;
}

.sidebar-menu__list-item a {
    display: flex;
    align-items: center;

    width: 100%;
    padding-left: 16px;

    color: var(--ion-color-primary-shade);

    text-decoration: none;
}

.sidebar-menu__list-item_active a {
    color: var(--ion-color-primary);
}

.sidebar-menu__list-item_active .sidebar-menu__list-item-content {
    border-bottom: 1px solid var(--ion-color-primary);
}

.sidebar-menu__list-item-image {
    margin-right: 32px;
}

.sidebar-menu__list-item-content {
    flex-grow: 1;

    padding: 12px 0;
    border-bottom: 1px solid var(--ion-color-primary-shade);
}

.sidebar-menu__list-item-content h4 {
    margin: 0;

    font-family: Campton;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.15px;
}
