.sensor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 3.2rem;
    padding: 0 1.6rem;

    border-radius: 16px;
}

.sensor__status {
    margin-top: 0.4rem;
    margin-left: auto;
    margin-right: 4rem;

    font-family: 'Campton';
    font-size: 2rem;
    font-weight: 500;
}

.sensor__status-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.sensor__target-icon_required-calibration {
    fill: #f6a649;
}

.sensor__target-icon_progress-calibration {
    fill: #fa0909;
}

.sensor__target-icon_clickable {
    cursor: pointer;
}

.sensor__bluetooth-icon_enabled {
    fill: #3dc04a;
}

.sensor__bluetooth-icon_connected {
    fill: #2c92f0;
}
