.sensor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    width: 100%;
    height: 32px;
    padding: 0 16px;

    background-color: var(--ion-color-tertiary-tint);

    border-radius: 16px;
}

.sensor__status {
    margin-top: 3px;

    font-family: 'Campton';
    font-size: 2rem;
    font-weight: 500;
}

.sensor__status-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;

    margin-left: auto;
}
