.barcode-scanner {
    display: flex;
    flex-wrap: wrap;
}

.barcode-scanner__scanner-button {
    margin: 0 !important;
    font-size: 1.3rem;
}

.barcode-scanner__scanner-button::part(native) {
    padding: 8px;
}
