/* .credential-input {
  border-bottom: 1px solid var(--ion-color-tertiary-shade);
  margin: 0.5rem 1.5rem;
  background-color: white;
  width: 18rem;
} */
ion-button {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
margin-left: 2.5rem;
margin-right: 4rem;
}
.forgot-password{
 text-align: center;
}
.forgot-password a{
  text-decoration: none;
}
