.credential-input {
    width: 100%;

    background-color: white;
}

.credential-input .input-wrapper {
    border-bottom: 1px solid var(--ion-color-tertiary-shade);
}

.credential-input.ion-invalid .input-wrapper {
    border-bottom-color: transparent;
}

ion-button {
    margin-top: 3rem;
    margin-right: 2rem !important;
}

.forgot-password {
    text-align: center;
}

.forgot-password a {
    text-decoration: none;
}
