.credential-input {
  border: 1px solid rgb(198, 198, 198);
  margin: 0.5rem;
  border-radius: 5px;
  background-color: white;
}
ion-button {
  margin-left: 1.5rem;
}
ion-item img {
  margin-bottom: 2rem;
}

ion-list {
  margin-top: 46% !important;
  
}
#logo {
width: 70%;
  margin: 0 auto;
}
