.analyse-milk-widget__tabs {
    margin-top: 3px;
}

.analyse-milk-widget__tab {
    width: 100%;

}
ion-segment-button {
    height: 4rem !important;
}

.analyse-milk-widget__tab-placeholder {
    padding: 16px 0;

    font-size: 1.6rem;
    text-align: center;
}
