.settings__header {
    padding-right: 16px;
}

.settings__calibrate-sensor {
    --background: var(--ion-color-tertiary-shade);
}

.settings__section-option {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 56px;

    padding: 0 16px;
}

.settings__section-option:not(:last-child) {
    border-bottom: 1px solid var(--ion-color-tertiary-shade);
}

.settings__section-option p {
    font-size: 1.6rem;
}

.settings__section-option p span {
    color: var(--ion-color-primary);
}

.settings__section-option_disabled {
    user-select: none;
    opacity: 0.5;
}

.settings__section-option_header {
    background-color: var(--ion-color-tertiary-tint);
    border-bottom: 1px solid var(--ion-color-tertiary);
}

.settings__section-option-action {
    margin-left: auto;
}

.settings__section-option-action ion-select {
    width: 180px;

    font-size: 1.6rem;
}

.settings__chip-text {
    padding-top: 1px;
    user-select: none;
}

.settings__chip-icon {
    display: flex;
    margin-left: 4px;

    color: var(--ion-color-primary);
}
