.sensor-page__header .page-area__header-actions ion-button {
    margin: 0 0 0 8px !important;
}

.sensor-page__section-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    padding: 16px;
}

.sensor-page__section {
    flex: 1;
}

.sensor-page__section-option {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    min-height: 56px;

    padding: 0 16px;
}

.sensor-page__section-option_fluid > * {
    width: 100%;
    gap: 32px;
}

.sensor-page__section-option:not(:last-child) {
    border-bottom: 1px solid var(--ion-color-tertiary-shade);
}

.sensor-page__section-option p {
    font-size: 1.6rem;
}

.sensor-page__section-option p span {
    color: var(--ion-color-primary);
}

.sensor-page__section-option_disabled {
    user-select: none;
    opacity: 0.5;
}

.sensor-page__section-option_header {
    background-color: var(--ion-color-tertiary-tint);
    border-bottom: 1px solid var(--ion-color-tertiary);
}

.sensor-page__section-option-action {
    margin-left: auto;
}

.sensor-page__section-option-action_information {
    font-size: 1.8rem;
    font-weight: 500;
}

.sensor-page__section-option-action ion-select {
    width: 190px;
    margin-right: 1rem;
    font-size: 1.6rem;
}

.sensor-page__chip-text {
    padding-top: 1px;
    user-select: none;
    margin-right: 1rem;
}

.sensor-page__chip-icon {
    display: flex;

    color: var(--ion-color-primary);
}

.sensor-page__chip-icon_start {
    margin-right: 4px;
}

.sensor-page__chip-icon_end {
    margin-left: 4px;
}
.sensor-page__section-chart {
    display: flex;
    justify-content: space-between;
}
.sensor-page__section-chart p {
    font-size: 1.8rem;
    margin-left: 1.4rem;
}
