.sensor-page {
    border: 2px solid var(--ion-color-tertiary-tint);
    border-radius: 5px;
    overflow-x: hidden;
    height: 65rem;
    padding-top: 1rem;
}
.sensor-page ion-item {
    padding-left: 1rem;
}
.sensor-page h2 {
    margin-left: 2rem;
}

.sensor-page__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sensor-page__title-wrapper ion-button {
    margin-top: 0;
}

.sensor-page__col-wrapper {
    border: 1px solid var(--ion-color-tertiary-tint);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.sensor-page__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5rem;

    font-size: 1.6rem;

    padding-left: 1rem;

    background-color: var(--ion-color-tertiary-tint);
    border-bottom: 1px solid var(--ion-color-tertiary);
}

.sensor-page__column-data {
    margin-right: 1rem;
}
.sensor-page__column-data ion-button {
    margin: 1rem 0 !important;
}

.sensor-page__calibrate-sensor{
    margin-right: 1rem;
}

.sensor-page__calibrate-sensor button {
    color: var(--ion-color-primary);
    font-size: 17px;
    text-decoration: underline;
    margin-right: rem;
}

.sensor-page__options {
    display: flex;
    justify-content: space-between;

    font-size: 1.6rem;
}

.sensor-page__chip-icon {
    display: flex;
    margin-left: 4px;

    color: var(--ion-color-primary);
}

.sensor-page__options p {
    height: 1.2rem;
}

.sensor-page__options ion-text {
    padding-left: 1rem;
}
.sensor-page__line {
    width: 97%;
    height: 1px;
    background-color: var(--ion-color-tertiary-shade);
    margin-left: 1.5rem;
}

.sensor-page__button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.sensor-page__button-wrapper ion-button {
    font-weight: 600;
    margin-right: 2rem !important;
    
}
.sensor-page__available-storage-chip {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}
.available-storage-chip ion-icon {
    margin-right: 0.5rem;
}
