.actions-panel {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    padding: 8px 16px;
}

.actions-panel > * {
    flex: 1;
    width: calc(50% - 8px);
    margin: 4px !important;
}

.actions-panel > *:not(:last-child) {
    margin: 0 2px;
}

.actions-panel__modal::part(content) {
    width: 90%;
    height: 90%;
}
