.non-analysed {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.non-analysed__analyse-button {
    width: 20%;
}
.non-analysed h1{
    font-size: 2rem;
}
