.scrollable {
    position: static;
    overflow: auto;
    width: 100%;
    height: auto;
    min-height: 100%;
    color: black;
}

.pdf__preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.pdf__preloader-message {
    margin-top: 1rem;
    font-size: 2rem;
}
