.scrollable {
    color: black;
    overflow: scroll;
}

ion-app.scrollable {
    display: inline-block;
}

.pdf__preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.pdf__preloader-message {
    margin-top: 1rem;
    font-size: 2rem;
}

.pdf__buttons-panel {
    position: sticky;
    left: 95vw;
    bottom: 2rem;
    width: fit-content;
    z-index: 9999;
}

.pdf__button + .pdf__button {
    margin-top: 1rem;
}

@media print {
    .scrollable {
        position: relative;
    }

    .pdf__buttons-panel {
        display: none;
    }

    ion-app.scrollable {
        /* do not remove */
        margin-bottom: -5px;
    }
}
