ion-content::part(scroll) {
    top: 0;
    padding-inline-start: 0;
    padding: 0;
    padding-bottom: 0;
}

.layout-body {
    margin-top: 1rem;
    border-top: 2px solid var(--ion-color-tertiary-tint);
}

.main {
    border-radius: 10px;
    background-color: white;
}
