.sensor-manager {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sensor-manager-instructions__title{
text-align: center;
}

.sensor-manager__instructions p {
    margin: 0;
}

.sensor-manager__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 8px; */
}
.sensor-manager__actions ion-text {
    display: flex;
    justify-content: center;
}

.sensor-manager__actions .button {
    /* margin: 5px 0;
    font-size: 14px;
    width: 60%; */
    margin-top: 1rem !important;
}

.sensor-manager__video-modal {
    --width: 80%;
    --height: 90%;
   
}
.sensor-manager__video {
    width: 100%;
}

.sensor-manager__video video {
    margin: 1.5rem;
    width: 97%;
    height: 100%;
    object-fit: cover;
}

.sensor-manager__close-button {
    margin: 2rem;
    width: 50rem;
    margin-left: 25%;
    
}

.sensor-manager__videos-container {
    background-color: var(--ion-color-tertiary-tint);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}


.sensor-manager__videos-container p {
    font-size: 14px;
}

.sensor-manager__actions-buttons ion-title {
    text-align: center
}
