.sensor-manager-instructions {
    padding: 16px;
    margin-bottom: 28px;

    font-family: Campton;
    letter-spacing: 0.15px;

    background-color: var(--ion-color-tertiary-tint);
    border-radius: 16px;
}

.sensor-manager-instructions__title {
    color: var(--color-text-main-text-extra-dark);
    font-size: 2rem;
    font-weight: 500;
    line-height: 24px;
}

.sensor-manager-instructions__content {
    margin-top: 4px;

    color: var(--color-text-main-text-mid);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 22px;
}
