.sensor-manager {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sensor-manager__instructions p {
    margin: 0;
}

.sensor-manager__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 8px; */
}
.sensor-manager__actions ion-text {
    display: flex;
    justify-content: center;
}

.sensor-manager__actions .button {
    /* margin: 5px 0;
    font-size: 14px;
    width: 60%; */
    margin-top: 1rem !important;
}

.sensor-manager__video-modal {
    width: 100%;
}
.sensor-manager__video{
    width: 100%;
}

.sensor-manager__video video{
    margin: 1rem;
    width: 97%;
    height: 100%;
    object-fit: cover;
}

.sensor-manager__close-button{
   margin: 2rem;
}