.user-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    gap: 8px;
}

.user-info__name {
    margin-top: 3px;

    font-family: 'Campton';
    font-size: 2rem;
}

.user-info__avatar {
    width: 24px;
    height: 24px;
}
