.add-milk-form__header {
    padding-right: 16px;
    display: flex;

}

.add-milk-form__header > * {
    flex: 1;
}

.add-milk-form__main {
    padding: 0 16px 16px 16px;
}

.add-milk-form__form-column > *:not(:last-child) {
    margin-bottom: 8px;
}

.add-milk-form__form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 8px;

    font-size: 1.4rem;
    height: 8rem;
}

.add-milk-form__form-group_fluid {
    width: 100%;
}

.add-milk-form__form-group-error {
    width: 100%;
    min-height: 20px; /* 36px;*/

    margin: 1rem 0 0;

    color: var(--ion-color-danger);
    font-size: 1.4rem;
}

.add-milk-form__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 16px;
}

.add-milk-form__actions .button {
    flex: 1;
    margin: 4px !important;
}

.add-milk-form__actions-clear {
    
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0 !important;

    width: 100%;
}
.add-milk-form__actions-clear ion-button{
    font-size: 1.3rem !important;
}
.add-milk-form__asterisk{
    font-size: 20px;
    color: red;
}