#add-milk-wrapper {
  border: 1px solid var(--ion-color-tertiary-tint);
  border-radius: 5px;
  
}

.add-milk-input {
  border-bottom: 1px solid var(--ion-color-primary);
  margin: 0.5rem;
  background-color: white;
  width: 18rem;
}
#milk-id {
  border-bottom: 1px solid var(--ion-color-primary);
  margin: 0.5rem;
  background-color: white;
  width: 100vw;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
.save-button {
  margin-right: 0 !important;
  width: 14rem;
  margin-left: 0 !important;

}
