.date-range__button {
    margin: 0 !important;
}

.date-range__popover {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background: white;
    z-index: 100;
    color: black;
}
